* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans serif;

}

/*            ////////////////////             Navbar      /////////////////                */

header {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 30px 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 9999;
    height: 25px;
    background-color: white;
    box-shadow: 0 1px 12px #ababab;
    /* box-shadow: rgba(40, 40, 40, 0.1) 0px 20px 20px -10px; */
}


.nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 900;
}

header>div {
    display: flex;
}

.logo {
    cursor: pointer;
    height: 35px;
    width: 89px;
    margin-top: -8px;
    margin-left: -66px;
}

i {
    cursor: pointer;
}

.input-icons i {
    position: absolute;
    right: 408px;
    /* left: 10px; */
    top: 33px;
    color: gray;
}

.icons {
    cursor: pointer;
    gap: 18px;
    margin-right: -70px;
}

.icons>p {
    font-size: 20px;
}

/* .nav_bar {
    font-size: 30px;
} */


.input_field {
    border-radius: 20px;
    background: #eaeaea;
    border: none;
    margin-top: -10px;
    margin-right: 10px;
    padding: 10px 50px;
}

.icons {
    font-size: 25px;
    display: flex;
    padding: 0 12px;
    text-decoration: none;
}

.nav_bar_hover {
    color: black;
}

.nav_bar_hover {
    position: relative;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
}

.nav_bar_hover:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav_bar_hover:hover:after {
    width: 100%;
}

.nav_bar_icon {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}



/*              ///////////////         body       //////////////////        */

.strip {
    display: flex;
    height: 80px;
    width: 90%;
    margin: 95px 63px 10px 73px;
    /* margin: auto; */
    background-color: #e8edf0;
}

.strip>div {
    display: flex;
    width: 90%;
    padding: 10px 20px;
    align-items: center;
}

.strip>h2 {
    padding-top: 20px;
}

.strip>div>h3 {
    padding: 0px 10px;
    font-size: 14px;
}

.strip>div img {
    width: 70px;
}

.mid_pic1 {
    display: flex;
    width: 90%;
    height: auto;
    margin: 5px 63px 10px 73px;
}

/* category */

.category {
    width: 90%;
    /* margin:5px 63px 10px 73px; */
    margin: 40px 73px 40px 70px;
    /* border: 2px solid blue; */
}

.category h1 {
    font-size: 25px;
    font-weight: 100000;
}

.pro_category {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* gap: 10px; */
    /* width: 90%; */
    /* border: 1px solid red; */
    /* margin: 20px 63px 20px 63px; */
}

.eachCat {
    /* width: 120px; */
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    /* margin: 20px 63px 20px 63px; */
    padding: 5px;
    margin: 20px 20px 20px 20px;
    /* background-color: red; */
    /* border: 1px solid black; */
    /* word-break: break; */
}

.eachCat img {
    width: 78px;
    height: 74px;
    margin: auto;
    background-color: rgb(245, 245, 245);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
}


.eachCat p {
    font-size: 13px;
    font-weight: bold;
}

/*   daily deals   */
#daily-deals {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    width: 90%;
    margin: auto;

}

#daily-deals>div>div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#daily_deals_h1 {
    padding-left: 5%;
    font-size: 25px;
    font-weight: 900;

}

.daily_deals_pro_name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
    margin: 30px 0px;
}

.daily_deals_pro_img {
    width: 100%;
    height: 300px;
}

.strikeoffprice {
    text-decoration: line-through;
}

.add_to_cart_button {
    background-color: red;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}

/* display pic(middle) */
.display_pic {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
    margin: auto;
}

.display_pic>div>img {
    width: 100%;
    height: 100%;
}

/* best of boat */
#best_of_boat_h1 {
    padding: 50px 5%;
    font-size: 25px;
    font-weight: 900;

}

.best_of_boat_buttons {
    display: flex;
    margin-left: 3.6%;
    margin-right: 3.6%;
}

.best_of_boat_buttons>button {
    padding: 10px 50px;
    margin: auto;

    text-align: center;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

/* best_of_boat_card */
.best_of_boat {
    margin: 30px 0;
}

.best_of_boat>div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 90%;
    margin: auto;
}

.best_of_boat_card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
}

.best_of_boat_card>img {
    width: 100%;
    height: 60%;
}

.best_of_boat_card>div {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}

.best_of_boat_card>p>i {
    color: green;
    font-size: 15px;
    /* margin-bottom: px; */
    margin-right: 8px;
}

.upi_p {
    font-size: 12px;
    padding: 5px 0;
}

.best_of_boat_card>button {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
}

.strieoff_p {
    text-decoration: line-through;
}

/*                                   mid pic              */
.mid_pic2 {
    display: flex;
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.pic {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.pic>img {
    width: 100%;
}

#pic1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 1px solid black;
    width: 90%;
    background-color: black;
    margin-left: 5%;
    border-radius: 10px;
    padding: 30px 0;

}

#pic1>img {
    width: 90%;
    border-radius: 10px;
    padding-left: 5%;
}

.in_the_press>h1 {
    font-size: 25px;
    font-weight: bold;
    padding: 50px 5%;
}

.in_the_press>p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.in_the_press>div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* gap: 10px; */
    margin: 20px;
}

.in_the_press>div>img {
    width: 150px;
    height: auto;
    margin: auto;
}


/*    ///////////////////////////              footer              //////////////////////////   */


#border-box {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    /* margin: 50px 0; */
    width: 98.9vw;
    margin-left: -63px;
    margin-right: -63px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#border-box>p {
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 20px 0px;
}

footer {
    margin: 20px 63px 20px 63px;
}

#footer1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    /* margin: 20px 63px 20px 63px; */
}

.subsDiv {
    width: 28%;
    /* padding: -50px; */
    margin-left: -20px;
}

.subsDiv>img {
    height: 35px;
    width: 89px;
    margin-bottom: 13px;
}

.subsDiv>p {
    margin-top: 10px;
    font-size: 13px;
    color: rgb(69, 69, 69);
    opacity: .9;
    /* gap: 200px; */
    margin-bottom: 20px;
}

.varieties>h3 {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 900;
}

.varieties>p {
    font-size: 11px;
    color: rgb(69, 69, 69);
    opacity: .9;
    /* gap: 200px; */
    margin-bottom: 20px;
}


.vLine {
    border: 1px solid rgb(230, 230, 230);
    width: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.socialMedia {
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.playStore {
    display: flex;
}

.playStore>img {
    height: 50px;
    width: 100%;
}

.extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* .line+p {
    margin-top: 30px;
    margin-bottom: 30px;
} */

.emailSubmit {
    border: 1px solid red;
    margin-top: 10px;
    padding: 6px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.emailSubmit>button {
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 17px;
    padding: 10px 25px;
    background-color: rgb(220, 24, 37);
}

.emailSubmit>input {
    border: none;
    box-sizing: border-box;
    width: 100%;
}

.paymtOp>img {
    height: 75%;
    width: 400px;
}

.footLine {
    /* color: blue; */
    /* height: 50px; */
    width: 98.9vw;
    margin-left: -63px;
    margin-right: -63px;
    margin-top: 15px;
    margin-bottom: 10px;
}