body {
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans serif;
}

.heading1 {
    font-size: 30px;
    background: #F7F5F5;
    padding: 10px;
    border-radius: 5px;
    /* margin-top: 0.5rem; */
    /* margin: 20px 63px 20px 63px; */
    margin: 0px 63px 25px 63px;
    font-weight: 800;
    font-stretch: condensed;
}

#filSort {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background: white;
    /* margin: 20px 63px 20px 63px; */
    margin: 20px 63px 20px 63px;
    /* border: 2px solid green; */

}

#filter {
    border: none;
    font-size: 20px;
    font-weight: bold;
}

#sort {
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* When zoom out & in div boxes not getting away from each other */
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: auto;
    /* min-height: 100vh; */
}

#parent {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    /* grid-template-rows: 200px 200px 200px; */
    gap: 50px 20px;
    margin: 10px;
    place-content: center;
}

/*                          Each product                                 */
.card {
    position: relative;
    max-width: 500px;
    max-height: 250px;
    border-radius: 8px;
    border: 2px solid #E7E7E7;
    /* background: grey; */
    /* margin:10px; */
    /* padding:15px; */
    display: flex;
    flex-direction: row;

}

.name {
    /* padding: 10px 0; */
    font-size: 17px;
    font-weight: bold;
    /* color:blue; */
}

#parent .card .imgBx {
    /* max-width: 150px; */
    /* flex: 0 0 0 150px; */
    width: 60%;
}

.description {
    /* margin: 10px 10px;
    text-align: justify;
    line-height: 28px; */
    text-align: left;
    background-color: #fff;
    color: #000;
    padding: 5px 12px 10px;
    border-radius: 5px;
    line-height: 25px;
    max-width: 96%;
    margin: 0 auto 2%;
    width: 100%;
    border-bottom-right-radius: 5px;
    margin: 0;
    padding: 10px 12px 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.imgBx>img {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.rev {
    font-size: 12px;
}

hr {
    opacity: .4;
}

.reviewBox {
    display: flex;
    margin-bottom: 6px;
}

.reviewBox>i {
    color: green;
    font-size: 10px;
    margin-top: 8px;
    margin-right: 5px;
}

.discount {
    color: rgb(5, 161, 67);
    margin-right: 10px;
    font-size: 15px;
}

.priceparent {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 6px;
}

.price {
    font-weight: 700;
    font-size: 15px;
}

.strprice {
    text-decoration: line-through;
    font-weight: 500;
    color: #616161;
    line-height: 17px;
    margin-left: 10px;

}

.shopCartbtn {
    display: block;
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
    font-weight: bold;
    /* margin: 10px 0; */
    font-size: 15px;
    cursor: pointer;
}

.save {
    font-size: 12px;
    margin-bottom: 6px;
}

.nitems {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    height: 18px;
    min-width: 18px;
    line-height: 1;
    border-radius: 21px;
    background-color: red;
    margin-left: 1px;
    position: absolute;
    color: white;
}

/*                         Bottom                 */

.bottom {
    height: 280px;
    /* margin: auto; */
    /* width: 95%; */
    display: grid;
    /* margin-top: 20px; */
    gap: 20px;
    /* border:2px solid red; */
    grid-template-columns: repeat(5, 1fr);
    margin: 20px 65px 20px 65px;
}

.mbottom {
    background-color: #e3e3e3;
    /* width: 90%; */
    /* border-radius: 5px; */
    /* margin-top: 20px; */
    /* border: 2px solid rebeccapurple; */
}

.bottom1 {
    /* border: 2px solid rebeccapurple; */
    width: 100%;
    height: 50%;
}

.bottom1>img {
    /* border: 2px solid rebeccapurple; */
    width: 100%;
    height: 100%;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.mbottom>button {
    border-radius: 10px;
    text-decoration: underline;
    background-color: #e3e3e3;
    font-style: normal;
    border: 1px solid #000;
    padding: 10px 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    margin: 10px 10px;
    cursor: pointer;
}

.bottom1~p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: underline;
    color: inherit;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.mbottom>button:hover {
    color: red;
    text-decoration: none;
}

/*                       Explanation                 */

.explanation {
    margin: 20px 150px 20px 150px;

}

.explanation>h1 {
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    text-align: left;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    margin-top: 50px;
}

.pp {
    font-size: 12px;
    opacity: .7;
    margin-top: 0;
    margin-bottom: 55px;
}

.pp>p {
    font-size: 12px;
    opacity: .9;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(var(--text-color));
    /* text-align: justify; */
    margin-bottom: 25px;
}

/* ///////////////////////////           Navbar                      //////////////////// */

header {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 30px 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 9999;
    height: 25px;
    background-color: white;
    box-shadow: 0 1px 12px #ababab;
    /* box-shadow: rgba(40, 40, 40, 0.1) 0px 20px 20px -10px; */
}

.nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 900;
}

header>div {
    display: flex;
}

.logo {
    cursor: pointer;
    height: 35px;
    width: 89px;
    margin-bottom: 30px;
    margin-left: -66px;
}

i {
    cursor: pointer;
}

.input-icons i {
    position: absolute;
    right: 380px;
    top: 40px;
    color: gray;
}

.icons {
    cursor: pointer;
    gap: 18px;
    margin-right: -70px;
}

.icons>p {
    font-size: 20px;
}

/* .nav_bar {
    font-size: 30px;
} */


.input_field {
    border-radius: 20px;
    background: #eaeaea;
    border: none;
    padding: 10px 35px;
}

.icons {
    font-size: 25px;
    display: flex;
    padding: 0 12px;
    text-decoration: none;
}

.nav_bar_hover {
    color: black;
}

.nav_bar_hover {
    position: relative;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
}

.nav_bar_hover:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav_bar_hover:hover:after {
    width: 100%;
}

.nav_bar_icon {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}


/*    ///////////////////////////              footer              //////////////////////////   */


#border-box {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    /* margin: 50px 0; */
    width: 98.9vw;
    margin-left: -63px;
    margin-right: -63px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#border-box>p {
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 20px 0px;
}

footer {
    margin: 20px 63px 20px 63px;
}

#footer1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    /* margin: 20px 63px 20px 63px; */
}

.subsDiv {
    width: 28%;
    /* padding: -50px; */
    margin-left: -20px;
}

.subsDiv>img {
    height: 35px;
    width: 89px;
    margin-bottom: 13px;
}

.subsDiv>p {
    margin-top: 10px;
    font-size: 13px;
    color: rgb(69, 69, 69);
    opacity: .9;
    /* gap: 200px; */
    margin-bottom: 20px;
}

.varieties>h3 {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 900;
}

.varieties>p {
    font-size: 11px;
    color: rgb(69, 69, 69);
    opacity: .9;
    /* gap: 200px; */
    margin-bottom: 20px;
}


.vLine {
    border: 1px solid rgb(230, 230, 230);
    width: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}


/* .oddL {
    margin-top: 50px;
    margin-bottom: 120px;
    margin-right: -40px;
}

.oddL2 {
    margin-top: 50px;
    margin-bottom: 180px;
    margin-right: -40px;
} */

/* .blackBack {
    margin-top: 40px;
    background-color: black;

}

.blackBack p {
    color: white;
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 21px 0;
    font-size: 14px;
} */


.socialMedia {
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.playStore {
    display: flex;
}

.playStore>img {
    height: 50px;
    width: 100%;
}

.extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* .line+p {
    margin-top: 30px;
    margin-bottom: 30px;
} */

.emailSubmit {
    border: 1px solid red;
    margin-top: 10px;
    padding: 6px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.emailSubmit>button {
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 17px;
    padding: 10px 25px;
    background-color: rgb(220, 24, 37);
}

.emailSubmit>input {
    border: none;
    box-sizing: border-box;
    width: 100%;
}

.paymtOp>img {
    height: 75%;
    width: 400px;
}

.footLine {
    /* color: blue; */
    /* height: 50px; */
    width: 98.9vw;
    margin-left: -63px;
    margin-right: -63px;
    margin-top: 15px;
    margin-bottom: 10px;
}